/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/*Basic Reset*/
*,
*::before
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*Custom properties*/
:root{
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max_width: 1200px;
}

/*Global styles*/
body {
    font-family: 'Poppins', sans-serif;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
}

.section__header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    display: flex;
}

/*Header styles*/
nav{
    max-width: var(--max-width);
    margin: auto;
    padding: 0.5rem 1rem 0.1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-item a {
    font-weight: 500;
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
}

.nav-item a:hover{
    color: var(--primary-color-dark); 
}

.logo img{
    max-width: 20%;
}

/*Booking styles*/
.header__container{
    padding: 1rem 1rem 5rem 1rem;
}

.header__image__container{
    position: relative;
    min-height: 500px;
    background-image: linear-gradient(to right, rgba(44, 56,85, .9), rgba(100, 125, 187, .1)), url("/images/header.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
}

.header__content {
    max-width: 600px;
    padding: 5rem 2rem;
}

.header__content h1{
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--white)
}

.header__content p{
    color: var(--extra-light);
}

.booking__container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    justify-content: center; /* To center elements horizontally */
    gap: 1rem;
    padding: 3.5rem 2rem 1rem 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .1);
}

.booking__container form{
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.booking__container .input__group{
    width: 100%;
    position: relative;
    transition: transform 0.3s ease; 
}

.booking__container label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
    pointer-events: none;
    transition: 0.3s;
}

.booking__container input{
    width: 100%;
    padding: 10px 0;
    font-size: 0.9rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
}

.booking__container input:focus ~ label{
    font-size: 1.2rem;
    top: 0;
}

.booking__container p{
    margin-top: 0.5rem;
    font-size: 0.6rem;
    color: var(--text-light);
}

.booking__container .btn{
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.booking__container .btn:hover{
    background-color: var(--primary-color-dark);
}

.booking__container label {
    /* Additional styling for the labels */
    padding: 0 0.5rem;
    transform-origin: top left;
    transition: transform 0.3s;
}

.booking__container .input__group:not(:focus-within) label {
    transform: translateY(-150%);
}

/*Popular styles*/
.popular__grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    gap: 3rem;
    justify-content: center;
}

.popular__card{
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease;
}

.popular__card:hover{
    transform: translateY(-5px);
    transition: 0.1s;
}

.popular__content{
    padding: 1rem;
}

.popular__card__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.popular__card__header h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.popular__card img{
    max-height: 200px;
}

.popular__content p{
    color: var(--text-light);
    top: 0.5rem;
}

.popular__container{
    background-color: var(--extra-light);
}

/*Feedback styles*/
.client{
    background-color: var(--extra-light);
}

.client__grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    width: 78%;
    margin: 0 auto; 
}

.client__card{
    padding: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.client__card:hover{
    transform: translateY(-5px);
    transition: 0.1s;
}

.client__card img{
    max-width: 150px;
    max-height: 250px;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 100%;
}

.client__card p{
    text-align: center;
    color: var(--text-dark);
}

/*Footer styles*/
.footer{
    background-color: var(--white);
}

.footer__container{
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 4rem; /* Reduce the gap between columns */
    padding: 1rem 12rem; /* Add padding to the top and bottom */
}

.footer__col h3{
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-color);
}

.footer__col h4{
    margin-bottom: 1rem;
    font-size: 1.0rem;
    font-weight: 600;
    color: var(--primary-color);
}

.footer__col p{
    margin-bottom: 1rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.8rem;
}

.footer__col p:hover{
    color: var(--text-dark)
}

